<!DOCTYPE html>
<html>
  <head>
    <title>About Broadway Data</title>
  </head>
  <body>
    <h1>About the Broadway Data</h1>
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://think.cs.vt.edu/corgis/json/broadway/broadway.html">here</a>.  The data contain statistics about Broadway shows 
      from August of 1990 to August of 2016.  Because the data for part of 1990 and part of 2016 are missing, this website does not offer 
      statistics on those years.  The statistics on each show are reported for each week, so examining statistics for individual days is 
      not possible with this data set.</p>
    <p>The gross potential of a show for a week is the percent of the maximum possible earnings that was actually earned.  For example, if 
      a show could have earned $100,000 based on ticket prices, theatre capacity, and the number of performances, but it actually earned 
      $80,000, then its gross potential for that week would be 80%.  When was not possible to calculate the gross potential, it was 
      recorded as 0.  Gross potential can be greater than 100% when theatres sell extra standing room tickets or when they use dynamic 
      ticket pricing.  The gross potential is calculated based on original ticket prices. 
      (<a href="https://www.broadwayworld.com/board/readmessage.php?thread=1089643">Source</a>)</p>
  </body>
</html>
