{% extends "layout.html" %}

{% set active_page = "spending" %}

{% block title %}Spending{% endblock %}

{% block heading %}Spending on Broadway Shows{% endblock %}

{% block body %}
    <script src="{{url_for('static',filename='canvasChart.js')}}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var dataDef = { title: "Total Annual Gross of all Broadway Shows",
                            xLabel: 'Year', 
                            yLabel: 'Gross of all Broadway Shows (millions)',
                            labelFont: '19pt Arial', 
                            dataPointFont: '10pt Arial',
                            renderTypes: [CanvasChart.renderType.lines, CanvasChart.renderType.points],
                            dataPoints: {{ dataPoints | safe}}
                           };
            CanvasChart.render('canvas', dataDef);
        });

    </script>
	<canvas id="canvas" width="1000" height="600"></canvas>
{% endblock %}
